@charset "utf-8";
/* CSS Document */

song {display:block; border-bottom: 1px solid #1E3FD1; padding : 8px 0;}
song name {font-size: 30px; font-weight: 700;}
song artist {display:block;}
song genre {display:block;}
song year {display:block;}
song artist:before {content:"Artist: "; }
song genre:before {content:"Genre: "; }
song year:before {content:"Year: "; }