@charset "utf-8";
/* CSS Document */

song {
    display:block; 
    border-bottom: 2px solid #1E3FD1; 
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

song songTitle {
    font-size: 200%; 
    font-weight: 700; 
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color:black;
}

song album {
    display: block;
    color: grey;
}

song artist {
    display: block;
    color: grey;
}

song genre {
    display: block;
    color:grey;
}

song year {
    display: block;
    color:grey;
}

song album:before {
    content: "Album: "; 
}

song artist:before {
    content: "Artist: "; 
}

song genre:before {
    content: "Genre: "; 
}

song year:before {
    content: "Year: "; 
}